<footer>
    <h2>Contact Us</h2>
    <p>Email: gilbertm616@gmail.com - Phone: 0976-263-4538</p>
    <a href="https://www.linkedin.com/in/gilbert-medina-gtr98/"><img src="<%= asset_path('linked-logo.png') %>" alt="linked in logo"></a>
    <a href="https://github.com/Meds028"><img src="<%= asset_path('github-logo-blue.png') %>" alt="linked in logo"></a>
</footer>